@media (min-width: 1024px)
  body
    margin-left: 20%
    margin-right: 20%

body
  font-family: Helvetica, Arial, Tahoma, sans-serif

.edit-button
  float: right
  a
    color: white

.post
  margin-bottom: 2em

  .social-buttons
    div
      float: left
      height: 24px
    .twitter
      width: 61px
      margin-right: 5px
    .facebook
      width: 64px
      margin-right: 2px
    .hatebu
      width: 88px
    &:after
      content: " "
      display: block
      clear: both

  pre
    background: #f9f9f9
  code
    font-size: 80%
    font-family: Monaco, monospace
