@media (min-width: 1024px)
  body
    margin-left: 20%
    margin-right: 20%
  h1
    font-size: 3.2rem
  h2
    font-size: 2.4rem
@media (max-width: 1023px)
  h1
    font-size: 2.4rem
  h2
    font-size: 2.0rem

html
  font-size: 62.5%
body
  font-family: Helvetica, Arial, Tahoma, sans-serif
  font-size: 1.6rem
code
  font-family: Monaco, monospace

.edit-button
  float: right
  a
    color: white

.post
  margin-bottom: 2em

  .social-buttons
    div
      float: left
      height: 24px
    .twitter
      width: 61px
      margin-right: 5px
    .facebook
      width: 64px
      margin-right: 2px
    .hatebu
      width: 88px
    &:after
      content: " "
      display: block
      clear: both

  pre
    width: 100%
    background: #f9f9f9
    overflow: auto
    word-break: break-all
    word-wrap: break-word
    white-space: pre-wrap
