:blog:
  :url: "http://yhara.jp"
  :title: "My Blog"
  :subtitle:
  :author: "Jhon"
  # (Optional) Google Analytics Tracking ID
  :ga_tracking_id:

# Advertizements (Optional)
:ads:
#  :adsense_client: "ca-pub-0000000"
#  :adsense_slot: "0000000"
#  :amazon_ad_tag: "asdffdsa-22"

:auth:
  # Basic auth username
  :username: "jhon"
  # Basic auth password (use `bundle exec rake config:hash_password`)
  :password_hash: "$2a$10$AnoVlwt7WPzYVU071jEpmOWkEYhVFqiG3xFMySdfvJjwtMfwS0KRK"

:timezone: 'Sydney'
