// Small devices
@media (max-width: 1023px)
  h1
    font-size: 2.4rem
  h2
    font-size: 2.0rem

// Large devices
@media (min-width: 1024px)
  body
    margin-left: 10%
  h1
    font-size: 3.2rem
  h2
    font-size: 2.4rem

  // Sidebar
  .container
    display: flex

  .left
    flex-grow: 1
    border-right: 1px dotted #aaa
    padding-right: 20px

  .right
    flex-basis: 250px
    flex-shrink: 0
    padding-left: 20px

html
  font-size: 62.5%
body
  font-family: Helvetica, Arial, Tahoma, sans-serif
  font-size: 16px  // We cannot use `rem` here due to chrome rem bug
code
  font-family: Monaco, monospace
  font-size: 1.4rem

.left
  padding-bottom: 2rem

.edit-button
  float: right
  a
    color: white

.flash 
  border: 1px solid gray
  margin: 1rem
  padding: 0.5rem
  &.error
    color: red

.post
  margin-bottom: 2em
  // Keep sidebar width when there is a long URL in a post
  word-break: break-all
  word-wrap: break-word

  .social-buttons
    div
      float: left
      height: 24px
    .twitter
      width: 61px
      margin-right: 5px
    .facebook
      width: 64px
      margin-right: 2px
    .hatebu
      width: 88px
    &:after
      content: " "
      display: block
      clear: both

  h2
    border-bottom: 1px solid #eee

  p 
    line-height: 150%

  pre
    width: 100%
    padding: 8px
    background: #f9f9f9
    line-height: 1.35
    overflow: auto
    word-break: break-all
    word-wrap: break-word
    white-space: pre-wrap

// Edit form
.config-button
  float: right

form.editor div, input, select, textarea
  font-size: 1.6rem

table.categories
  border-collapse: collapse
  th, td
    border: 1px solid black
    padding: 3px

// Sidebar

section.about
  ul.links
    li
      list-style-type: none
      margin-left: -20px
